<form name='form1' action='/controllerUpdate' method='POST'>
    <input type='hidden' name='id' id='id' placeholder='id:' value='{{id}}'><br>
    <input type='text' name='name' id='name' placeholder='name:' value='{{name}}'><br>
    <input type='text' name='age' id='age' placeholder='age:' value='{{age}}'><br>
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Update'><br>
</form>